@mixin flexbox($justify:center,$direction:row){
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}
@mixin logo(){
    display: inline-block;
    background: $blue-clr-2;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    margin-right: 1rem;
    color: $white-clr;
}
@mixin buttonStyle($background:$white-clr-2,$color:$blue-clr-2,$border:2px solid $blue-clr-2){
    background-color:$background ;
    border: $border;
    border-radius: 55px;
    color: $color;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1.2rem 2.4rem;
    transition: background-color 0.3s, box-shadow 0.3s;
    &:hover{
        background-color: #303f9f;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        color:$white-clr;
        border:none;
    }
    &:active{
        transform: translate(1px, 1px);
    }
}
@mixin title($font-size:3.6rem,$color:$black-clr){
    color:$color;
    line-height: 5rem;
    font-size: $font-size;
    font-weight: 700;
}
@mixin backgroundStyle{
    position: absolute;
    width:50%;
    overflow: hidden;
    height:100%;
    z-index: -1;
}
