@import "../../sass/mixin";
@import "../../sass/variables";

header {
  margin: 5rem 0;
  text-align: center;
  .about-title {
    @include title();
  }
}

#about .dot-square-grid{
  @include dot-grid();
  z-index: 9999;
  top:20%;
  left:12%;
  z-index: -2;
    grid-template-columns: repeat(5, 1fr);

}

.background-image{
    @include backgroundStyle;
   top:15%;
   right:-20%;
}

.about-container {
  @include flexbox(center);
  flex-wrap: wrap;
  .card {
    margin: 1rem;
    width: 35rem;
    background-color: $white-clr;
    padding: 0 2rem 5rem 2rem;
    border-radius: 2rem;
    box-shadow: 4px 4px 4px rgba(36, 36, 37, 0.264);
    figure {
      img {
        width: 100%;
        height: 50%;
      }
      .card-content {
        h2 {
          @include title(2.1rem);
          line-height: 3.2rem;
          padding: 1rem 0;
        }
        .primary-text {
          font-size: 1.6rem;
          line-height: 2.8rem;
        }
        .read-btn {
          color: $blue-clr-1;
          font-size: 1.7rem;
          font-weight: 600;
          @include flexbox(left);
          .icon {
            margin-left: 1rem;
            font-size: 2rem;
            &:hover{
              font-size: 2.5rem;
            }
          }
          &:hover {
            color: #1971c9;
            cursor: pointer;
          }
        }
        .show-btn {
          color: red;
          &:hover {
            color: rgb(155, 58, 58);
          }
        }
      }
    }
  }
}
.about-btn {
  text-align: center;
  margin-top: 2rem;
  button {
    @include buttonStyle();
  }
}
