@import "../../sass/mixin";
@import "../../sass/variables";
.service-container {
  margin: 10rem 0;
  position: relative;

  .background-design{
   @include backgroundStyle();
    top:20%;
    left:-11%;
  }
  header {
    text-align: center;
    align-items: left;
    .service-title {
      @include title();
    }
  }

  .service-card-container {
    @include flexbox(center);
    flex-wrap: wrap;
  
    @include flexbox(center);
    flex-wrap: wrap;
    .service-card {
      margin: 1rem;
      width: 35rem;
      background-color: $white-clr;
      padding: 2rem;
      border-radius: 15px;
      .icon {
        font-size: 8rem;
        color: $blue-clr-2;
      }
      .card-title {
        @include title(2.4rem);
      }
      .primary-text {
        font-size: 1.6rem;
      }
    }
  }
 
}
