@import "../../sass/variables";
@import "../../sass/mixin";

.testimonials-container {
  background: $blue-gradient;
  padding: 7rem 7rem 2rem 7rem;
  border-radius: 24px;
  // margin: 10rem;
  max-width: 80%;
  margin: 5rem auto;
  position: relative;
  height: 50rem;
  overflow: hidden;
  .dot-grid{
    @include dot-grid;
    top:1%;
    right: 1%;
    .dot{
      background-color: #ffffff71;
    }
  }
  header {
    text-align: center;
    h2{
      @include title($color:$white-clr);
    }
    .title-border {
      background-color: $white-clr;
    }
  }
 article {
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      transition: all 0.3s linear; 
      padding:5rem;   
      overflow: hidden;
    @include flexbox(space-between);
    margin: 7.5rem 0;
    .left-content {
      width: 35%;
    }
    figure {
      @include flexbox();
      figcaption {
        margin: 1rem;
        h2 {
          font-size: 2.2rem;
          font-weight: 700;
          color: $white-clr;
        }
        .primary-text {
          color: #ffffffd9;
          font-size: 1.8rem;
          line-height: 2.8rem;
        }
      }
    }
    .right-content {
      width: 55%;
    }

    .primary-text {
      color: #ffffffe5;
      .icon {
        font-size: 2.5rem;
        color: $black-clr-2;
      }
    }
    img {
      width: 13rem;
      height: 13rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.slider-icons {
  max-width: 50%;
  margin: auto;
  @include flexbox(space-around);
  font-size: 3.5rem;
  color: $blue-clr-2;
}

.navigation-btns{
  @include flexbox(space-between);
  button{
    background-color: #5b9af355;
    height:1rem;
    width:1rem;
    border-radius: 50%;
    border: 2px solid #5b9af355;
    &:not(:last-child){
      margin-right: 1rem;
  }
  &:hover{
  background-color: $blue-clr-1;
  }
}
.active{
  background-color: $blue-clr-1;
  height:1.6rem;
  width:1.6rem;
  transition: .5s all ease-in;
}
}

.bottom-dots{
  .dot-grid{
    @include dot-grid;
    left:6%;
    bottom:25%;
  }
}

@media (max-width:860px){
  .testimonials-container{
    height: 80rem;
    padding:7rem 3rem;
   article{
    // top:10%;
      text-align: center;
      @include flexbox($direction:column);
      figure{
        @include flexbox($direction:column)
      }
      .right-content{
        width:100%;
      }
    }
  } 
}
@media( max-width:600px){
  .testimonials-container{
    height: 90rem;
    padding:3rem 2rem;
  }
}
.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.lastSlide {
  transform: translateX(-100%);
  opacity: 0;
}
.nextSlide {
  transform: translateX(100%);
  opacity: 0;
}