@import "../../sass/variables";
@import "../../sass/mixin";

.navbar {
  @include flexbox(space-around);
  margin: 2rem 0;
  .navbar-brand {
    font-size: 2.6rem;
    font-weight: bold;
    span {
      @include logo();
    }
  }
  .nav-items {
    @include flexbox();
    li {
      margin: 0 1rem;
      font-size: 1.8rem;
      color: $grey-clr;
      &:hover {
        font-weight: bold;
        color: $black-clr-2;
        cursor: pointer;
      }
    }
  }
  .hamburger-menu {
    display: none;
    font-size: 4rem;
    z-index: 999;
    margin: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  .navbar {
    justify-content: space-between;
    .navbar-brand {
      margin-left: 60%;
    }
    .nav-items {
      position: fixed;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      top: 0%;
      width: 100%;
      height: 100vh;
      background-color: $white-clr;
      background-color: #787777;
      padding: 7rem 0.5rem;
      transform: translate(-150%);
      transition: transform 0.5s ease-in-out;
      z-index: 999;
      li {
        font-size: 4rem;
        margin-top:5rem;
        color: #f0f0f0;
      }
    }
    .hamburger-menu {
      position: fixed;
      display: block;
      color: #fff;
      top: 0;
    }
    .show-menu {
      transform: translate(0);
      transition: transform 0.5s ease-in-out;
    }
  }
}
